/* 

COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6

*/

/* GLOBAL 
-------------------------*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    background: #f6f6f6;
    margin: 0;
}

.content-wrapper{
    margin: 0 auto;
    width: 1200px;
}

/* Links 
-------------------------*/

a {
    color: #3c8453;
    text-decoration: none;
}

a:hover {
    color: #bcaa96;
}

footer a{
    color: #bcaa96;
}

footer a:hover{
    color: #3c8453;
}

.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
}


/* HOME 
-------------------------*/

.home{
    background: url(./placeholder-images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
}

.home .content-wrapper {
    background: rgb(255 255 255 / 85%);
}

/* RESUME 
-------------------------*/


/* Profile
-------------------------*/


/* Work Experience
-------------------------*/


/* FOOTER 
-------------------------*/

footer {
    background:  #222;
    color:       #d3d4d6;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
}

.socials img {
    width: 32px;
}

