/* 

COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6

*/

/* GLOBAL 
-------------------------*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Utilizado para que a imagem de fundo cubra a tela inteira*/
html, body {
    height: 100%;
}

body {
    background: #f6f6f6;
    margin: 0;
}

.content-wrapper{
    margin: 0 auto;
    padding: 30px;
    max-width: 1200px;
}


/* Links 
-------------------------*/

a {
    color: #3c8453;
    text-decoration: none;
}

a:hover {
    color: #bcaa96;
}

footer a{
    color: #bcaa96;
}

footer a:hover{
    color: #3c8453;
}

.btn {
    background: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
}


/* HOME 
-------------------------*/

.home{
    background: url(./placeholder-images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
    /*Container será do tamanho do conteúdo e expandirá para tomar o restante do espaço*/
    flex: 1 0 auto;
}

.home .content-bg{
        background: rgb(255 255 255 / 85%);
        padding: 30px;
}

/* RESUME 
-------------------------*/

.resume header::before{
    background: url(./placeholder-images/bg-home-office-studio.jpg) ;
    background-position: center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}

.download-link{
    position: fixed;
    left: 10px;
    top: 10px;
    padding: 10px;
}


/* Profile
-------------------------*/


/* Project
-------------------------*/

.project-item {
    display: flow-root;
    margin: 30px 0;
}

.project-item img{
    width: 300px;
    float: left;
    margin-right: 20px;
}

.project-item h3{
    margin-top: 0;
}


/* Work Experience
-------------------------*/

.work-item{
    display: grid;
    grid-template-columns: 300px 2fr;
    column-gap: 20px;
}


/* FOOTER 
-------------------------*/

footer {
    background:  #222;
    color:       #d3d4d6;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 6px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}

