.flex-conatainer{
    border: 5px solid black;
    background-color: lightseagreen;
    color: white;
    font-weight: 700;
    width: 350px;
    margin: 10px auto;

    display: flex;
    flex-wrap: wrap;
}

.flex-item{
    border: 5px solid white;
    padding: 10px;
    margin: 5;
    box-sizing: border-box;

    flex: 1 1 100px;
}